{%extends 'base.html'%}
{%load static%}
{%block content%}
<!-- carusel -->

  <!-- carusel ends -->
  <div class="books center" style="align-content: center;">
    <h2 class="card-title" style="align-content: center;"> Your search found <b>{{books.count}}</b> Results</h2>

  </div>
<div class="row">
    {%for book in books%}
<div class="col">
  <div class="card mb-3" style="max-width: 540px; margin: 30px;background-color: rgb(195, 227, 141);">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{book.cover_image.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"><i><small class="text-muted">Title :</small></i>{{book.title}}</h3>
          <p class="card-text"><i><small class="text-muted" style="color: orange;">Surporting text :</small></i>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
          <h5 class="card-title"><i><small class="text-muted" style="color: orange;">author(s) :</small></i>{{book.author}}</h5>

          <p class="card-text"><small class="text-white">Last updated  on {{book.date_added|date:'M,d'}}</small></p>  
            {%if book  in request.user.profile.books.all%}
          <p><a href="{%url 'checkout' book.id %}" class="btn bg-warning">return this book </a></p>
            {%else%}
            <p><a href="{%url 'checkout' book.id %}" class="btn bg-success"> Check 0ut</a></p>

            {%endif%}        </div>
      </div>
    </div>
  </div>
</div>
  {%endfor%}
</div>

  {%endblock content%}